body{
	margin:0% !important;
}
.tabGUI{
    
	margin: auto;
	width : 85%;
	font-size: 20px;
	color : gray;
	margin-top: 4%;
	margin-bottom:5%;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    margin-top:3%;
}

td, th {
    text-align: left;
    padding: 8px !important;
}

th{
     background-color: #ad3636;
     color : white;
}

tr:nth-child(even) {
    background-color:#e3e3e3;
}

tr:nth-child(odd) {
    background-color:whitesmoke;
}

.clickableRow:hover{
	background-color:#c3c3c3;
	cursor:pointer;
}

td .glyphicon {
	margin-left:10%;
	font-size: 25px;
}

.editIcon{
	color:#e46f1c;
	margin-left:25%;
	float:left;
}

div.editIcon:hover > .glyphicon-edit{
	color:#ff9245;
        cursor:pointer;
}

.deleteIcon{
	margin-right:25%;
	float:right;
	color:#b70606;
}

div.deleteIcon:hover {
	color:red;
        cursor:pointer;
}

span:hover > .glyphicon-remove-sign{
	color:#e46868;
}

.addButton{
        vertical-align: middle;
        border:none;
        padding:10px;
        background-color: #5b985b;
        color:white;
        margin-top: 4%;
        cursor: pointer;
}

.addButton:hover {
    background-color: #97cc97;
	
}


.actions{
	text-align:center;
}

form>input[type=text],form>input[type=password]{
	margin-bottom: 5%;
	width:100%;
}

select{
	width:100%;
	padding:7px;
}

form>label{
	color: black;
	font-weight:bold;
	margin-bottom:1%
}

#addModal .modal-header{
	background-color:#5b985b;
	color:white;
}


#editModal .modal-header{
	background-color:#e46f1c;
	color:white;
}

#deleteModal{
    margin-top:10%;
}

#deleteModal .modal-header{
	background-color:#ff0000;
	color:white;
}

.questionDiv{
	margin:auto;
	padding-bottom: 30px;
	width:85%;
	/* padding:20px; */
	background-color: whitesmoke;
	text-align: center;
}

h1{
	background-color: #4b8446;
	color: white !important;
	font-size:1.4em !important;
	text-align:left;
	padding:3px !important;
	margin-top:0px !important;
}

#draigImage{
	margin-top:1%;
	width:25%;
}

#headerLine{
	position:relative;
	z-index:1;
	background-color:#ad3636;
	padding:10px;
	margin-top:1%;
	margin-bottom: 3%;
}

.headerButton
{
	background-color: whitesmoke;
	color:#ad3636;
	font-weight:bold;
	border:0;
	margin-right:2%;
	margin-top:3.5%;
	padding-left:2%;
	padding-bottom:2%;
	padding-right:2%;
	padding-top:1%;
	font-size:110%;
	float: right;
}

.username{
	margin-top:0.5%;
	margin-right:0.5%;
	font-size:120%;
	float:right;
	margin-left:0;
	color:#ad3636;
}

.unClass{
	color:#ad3636;
	text-align:right;
	margin-right:0.5%;
	margin-top:0.2%;
}


.headerButton:hover, .activeTab
{

	color:white;
	background-color:#ad3636;
}

#loginForm
{
	text-align:center;
	background-color:whitesmoke;
	margin:auto;
	width:40%;
	margin-top:5%;
	font-family: arial, sans-serif;
	color:white;
	font-size:150%;
}

#loginForm input {
	
	font-size:100%;
	margin:auto;
	margin-top:10%;
	width:60%;
	
}

#loginForm input[type=text], #loginForm input[type=password]
{
	height:40px;
}

#loginForm input[type=submit] {
	margin-top: 10%;
	margin-bottom: 10%;
	padding:3%;
	background-color:#5b985b;
	color:white;
	border:none;
	cursor:pointer;
}

.loginHeader {
	background-color:#ad3636;
	padding:10px;
}

input[type=radio]
{
	margin-left: 5% !important;
	height:12px;
}

.submitDiv{
    background-color: white;
}

.submitDiv input[type=submit]
{
	margin-top:3%;
	margin-bottom:5%;
	border:none;
	background-color:#ad3636;
	padding:10px;
	font-size:1.3em;
	color:white;
}

.gender {
	margin-bottom: 3% !important;
	margin-top: 4% !important;
	margin-left:1%;
	font-size: 16px;
}


.questionDiv>input[type=text]{
	margin:auto;
	width:60%;
	margin-top:3%;
	margin-bottom:2%;
	padding:5px;
}

.glyphicon-remove{
   color:red;
}

.glyphicon-ok{
   color:green;
}


.content {
    text-align: center;
}

.Userimage {
    background-color: #5b985b;
    color: #e3e3e3;
    padding:15px;
    
}

.helpForm {
    text-align: center;
}

h2{
	color: #5b985b !important;
	border-bottom: 2px #e3e3e3 solid;
        font-weight:bold !important;
}

.pageDescription{
	font-size:0.95em;
	margin-top:1%;
	margin-bottom:1%;
	color:#afadad;
}

.h2HL{
    color:#afadad;
}

.pageStats{
	color: grey;
	font-weight:bold;
	display: inline-block;
	min-width:120px;
}

.homeIcon{
    font-size:1250%;
    color: #5b985b;
}

.homeIcon:hover {
    color: #ad3636 !important;
}

.col-sm-3 a, .col-sm-4 a{
	color:#ad3636 !important;
	font-weight:bold !important;
}