.tabGUI{
    
	margin: auto;
	width : 85%;
	font-size: 20px;
	color : gray;
	margin-top: 4%;
	margin-bottom:8%;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    text-align: left;
    padding: 8px !important;
}

th{
     background-color: #ad3636;
     color : white;
}

tr:nth-child(even) {
    background-color:#e3e3e3;
}

tr:nth-child(odd) {
    background-color:whitesmoke;
}

.glyphicon{
	margin-left:10%;
	font-size: 35px;
}

.glyphicon-edit{
	color:#e46f1c;
}

td:hover > .glyphicon-edit{
	color:#ff9245;
}

.editIcon{
	margin-left:15%;
	float:left;
}

.deleteIcon{
	margin-right:15%;
	float:right;
}

.glyphicon-remove-sign{
	color:#b70606;
}

span:hover > .glyphicon-remove-sign{
	color:#e46868;
}

.addButton{
        border:none;
        padding:10px;
        background-color: #5b985b;
        color:white;
        margin-bottom:3%;
        cursor: pointer;
}

.addButton:hover {
    background-color: #2179ef;
	
	
}


.actions{
	text-align:center;
}

form>input[type=text]{
	margin-bottom: 5%;
	width:100%;
}

form>label{
	color: black;
	font-weight:bold;
	margin-bottom:1%
}

#addModal .modal-header{
	background-color:#5b985b;
	color:white;
}


#editModal .modal-header{
	background-color:#e46f1c;
	color:white;
}

#deleteModal{
    margin-top:10%;
}

#deleteModal .modal-header{
	background-color:#ff0000;
	color:white;
}

.questionDiv{
	margin:auto;
	width:85%;
	padding:20px;
	background-color: whitesmoke;
	text-align: center;
}

h1{
	background-color: #ad3636;
	color: white !important;;
}
